@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.logoLoja {
  background-image: url('/logo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 250px;
  height: 80px;
  margin: 10px auto;
  border-radius: 10px;
  border: 1px solid gray;
}

@media screen and (max-width: 768px) {
  body {
    padding-bottom: 100px;
  }
  
  /* Remove o padding do body e aplica ao main */
  body {
    padding-bottom: 0 !important;
  }
  
  .main-container {
    padding-bottom: 100px !important;
  }
  
  /* Vídeo cobre toda a viewport */
  .video-background {
    height: 100vh !important;
    width: 100vw !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
  }
}